{% extends 'base.html' %}

{% block title %}
Punto de Compra - Viva Control
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Punto de Compra</h1>
    <br>
    <!-- Mensajes de éxito y error -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% endif %}
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="GET" action="{% url 'punto_compra' %}" id="product-form">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="codigo_barras" name="codigo_barras" placeholder="12345678" value="">
                    <label for="codigo_barras">Agregar Producto (código barras)</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="prov" name="prov" aria-label="Floating label select example">
                        <option value="">Seleccione Proveedor</option>
                        {% for prov in proveedores %}
                        <option value="{{ prov.rut_auxiliar }}" {% if prov_query == prov.rut_auxiliar|stringformat:"s" %}selected{% endif %}>{{prov.rut_auxiliar}} - {{ prov.razon_social }}</option>
                        {% endfor %}
                    </select>
                    <label for="prov">Proveedor: </label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="local" name="local" aria-label="Floating label select example">
                        <option value="">Seleccione Local</option>
                        {% for local in locales %}
                        <option value="{{ local.id_sucursal }}" {% if local_query == local.id_sucursal|stringformat:"s" %}selected{% endif %}>{{ local.id_sucursal }} - {{ local.direccion }}</option>
                        {% endfor %}
                    </select>
                    <label for="local">Local:</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Añadir Producto</button>
    </form>
    <br>
    <div class="row">
        <div class="col-md-10">
            <div class="table-wrapper">
                <form method="POST" action="{% url 'update_button' 'code' %}">
                    {% csrf_token %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Código de Barras</th>
                                <th>Nombre</th>
                                <th>Precio Coste C/U</th>
                                <th>Cantidad</th>
                                <th>Total Coste</th>
                                <th>Precio Venta C/U</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for code, item in cart.items %}
                            <tr>
                                <td>{{ code }}</td>
                                <td>{{ item.name }}</td>
                                <td><input type="number" name="cost_price_{{ code }}" value="{{ item.cost_price }}" min="0" class="form-control"></td>
                                <td><input type="number" name="quantity_{{ code }}" value="{{ item.quantity }}" min="1" class="form-control" style="width: 80px;"></td>
                                <td>{{ item.total_cost }}</td>
                                <td><input type="number" name="sale_price_{{ code }}" value="{{ item.sale_price }}" min="0" class="form-control"></td>
                                <td class="text-center">
                                    <a href="{% url 'producto_edit' code %}" class="btn btn-dark btn-sm">Ver Producto</a>
                                    <a href="{% url 'eliminar_p_carrito' 'punto_compra' code %}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary mt-3">Actualizar Todo</button>
                </form>
                            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <h5>Coste Total: <span id="total-cost">{{ total_cost }}</span></h5>
                <h5>Precio Total: <span id="total-sale">{{ total_sale }}</span></h5>
                <h5>Ganancia (Estimada): <span id="ganancia"></span></h5>
            </div>
            <form method="POST" action="{% url 'punto_confirmacion' 'punto_compra' %}">
                <div class="form-floating mb-3">
                    <select class="form-select" id="metodo_pago" name="metodo_pago" aria-label="Floating label select example">
                        <option value="">Seleccione Método de Pago</option>
                        {% for metodo in metodos %}
                        <option value="{{ metodo.id }}" {% if local_query == metodo.id|stringformat:"s" %}selected{% endif %}>{{ metodo.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label for="metodo_pago">Método de Pago:</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="efectivo" name="efectivo" placeholder="10500" value="">
                    <label for="efectivo">Monto Efectivo</label>
                </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-3" >Agregar Factura</button>
            </form>
        </div>
    </div>
</div>
<br>

{% endblock content %}

{% block extra_styles %}
<style>
    .table-wrapper {
        max-height: 300px;
        overflow-y: auto;
    }
    .table-wrapper thead th {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
    }
</style>
{% endblock extra_styles %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const barcodeInput = document.getElementById('codigo_barras');
        barcodeInput.focus();

        // Enfocar el input cada vez que el formulario se envíe
        const form = document.getElementById('product-form');
        form.addEventListener('submit', function() {
            setTimeout(() => {
                barcodeInput.focus();
            }, 10);
        });
    });

    var totalCost = parseInt(document.getElementById('total-cost').innerText);
    var totalSale = parseInt(document.getElementById('total-sale').innerText);
    var ganancia = totalSale - totalCost;
    document.getElementById('ganancia').innerText = ganancia.toFixed(0);
</script>

{% endblock extra_scripts %}
