{% extends 'base.html' %}

{% block title %}
Punto de Venta - Viva Control
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Punto de Compra</h1>
    <br>
    <form method="GET" action="{% url 'inventario' %}">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="search" name="search" placeholder="12345678" value="{{ search_query }}">
                    <label for="search">Buscar Producto (código barras)</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="local" name="local" aria-label="Floating label select example">
                        <option value="">Seleccione Local</option>
                        {% for local in locales %}
                        <option value="{{ local.id_sucursal }}" {% if local_query == local.id_sucursal|stringformat:"s" %}selected{% endif %}>{{ local.id_sucursal }} - {{ local.direccion }}</option>
                        {% endfor %}
                    </select>
                    <label for="local">Local:</label>
                </div>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Código de Barras</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for row in page_obj %}
            <tr>
                <td>{{ row.id_producto.id_producto }}</td>
                <td>{{ row.id_producto.nombre }}</td>
                <td>{{ row.cantidad }}</td>
                <td>{{ row.precio }}</td>
                <td class="text-center"><a href="" class="btn btn-dark btn-md">Ver Producto</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&search={{ search_query }}&tipo={{ tipo_query }}&estado={{ estado_query }}" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}&tipo={{ tipo_query }}&estado={{ estado_query }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}&search={{ search_query }}&tipo={{ tipo_query }}&estado={{ estado_query }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search_query }}&tipo={{ tipo_query }}&estado={{ estado_query }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ search_query }}&tipo={{ tipo_query }}&estado={{ estado_query }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<br>

{% endblock content %}
