{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row">
      <div class="col-md-4">
          <h3>Añadir Métodos de Pago</h3>
          <form action="{% url 'agregar_metodo' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                  <label for="txtNombre">Nombre</label>
                  <input type="text" class="form-control" id="txtNombre" name="txtNombre"
                      placeholder="Ingrese el nombre">
              </div>
              <div class="form-group">
                  <label for="txtDescripcion">Descripción</label>
                  <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion"
                      placeholder="Ingrese descripción">
              </div>
              <button type="submit" class="btn btn-primary">Guardar</button>

              {% if messages %}
              {% for message in messages %}
              {%if message.tags == 'error'%}
              <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                  {% else %}
                  <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
                      {% endif %}
                      <strong>{{ message }}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  {% endfor %}
                  {% endif %}
          </form>
      </div>


      <div class="col-md-8">
          <h3>Listado</h3>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for metodo in metodos %}
                      <tr>
                          <td>{{ metodo.id }}</td>
                          <td>{{ metodo.nombre }}</td>
                          <td>{{ metodo.descripcion }}</td>
                          <td>
                              <a href="{% url 'editar_metodo' metodo.id %}" class="btn btn-primary btn-sm">Editar</a>
                              <a href="{% url 'eliminar_metodo' metodo.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

{% endblock content %}